body {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10px;
    background-color: #41474B;
    margin: 0;
    padding: 0;
}

.main-container {
    margin: 0 auto;
    width: 80%;
}

.jumbotron {
    background: #AD7B53;
    color: #FAFAFA;
    text-align: center;
}

.card-header {
    background: #AD7B53;
    color: #FAFAFA;
}

.btn-primary {
    background: #AB7B4D;
    border-color: #AB7B4D;
}

.btn-primary:hover {
    background: #FAFAFA;
    color: #AB7B4D;
    border-color: #AB7B4D;
}